.centered{
	margin: 0 auto;
}
.full-screen{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 99;
}

.nameForm{
	margin: 0 auto;
	width: 500px;
	margin-top: 100px;
	text-align: center;
}

.nameForm .btn{
	margin-top: 20px;
	width: 175px;
	height: 48px;
}

.active{
	background-color: #D9EDF7;
}

.chatArea{
	height: 400px !important; 
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
}

.chatArea .msgArea{
	padding: 10px;
	overflow-y: scroll;
	height: 300px;
}

.chatArea .msgArea .msg{
	margin-bottom: 10px;
	border-color: transparent;
	background-color: #337AB7;
	color: black;
	height: 30px;
	line-height: 30px;
	border-radius: 10px;
}

.chatArea .msgArea .mine{
	background-color: #5CB85C;
}
}